// Global

.parallax {
  display: none;
}

// Layout

.container {
	margin: 0 auto;
	max-width: 100.0rem;
	padding: 0 2.5rem;
	position: relative;
	width: 100%;
}

// Header

.posts, .post, .page {
  padding-top: 21rem;
  margin-bottom: 4rem;
}




header {
    text-align: center;
    padding-top: 2rem;
    margin-bottom: 2rem;

    position: fixed;
    width: 100%;
    z-index: 100;

    .container {
      padding-bottom: 2rem;
    }

    img {
        width: 100%;
        max-width: 480px;
        margin-bottom: 1.5rem

      }

    small {
    font-size: 1.5rem;
    font-weight: normal;

  }
    .tagline {
      position: relative;
      top: 0.5rem;

    }
}

#add {
  margin-bottom: 1rem
}

@media only screen and (min-width: 48em) {

.posts, .post, .page {
  padding-top: 12rem;
}

header {
  .container {
    padding-bottom: 0rem;
  }
}
}

// Icons
.icon {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    margin-right: 0.4rem;
    bottom: -0.2rem;
    position: relative;

    svg {
        width: 100%;
        height: 100%;
        path {
            fill: $black;
        }
    }
}

#follow {
  display: inline-block;
  position: relative;
  bottom: 1rem;
}

.icon--twitter, .icon--instagram {
  height: 3.5rem;
  width: 3.5rem;
  bottom: -0.0rem;
  margin-right: 0.5rem
}




small a:first-child {
  margin-right: 1rem;
}
// Footer

footer {
  margin-bottom: 2rem;
  text-align: center;
}

footer a {
  margin-right: 0rem !important;
}
